/*style.css */

body {
    background-color: green;

}
#text{
    background-color: black;
    color: aliceblue;
    padding: 15px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: darkgrey;
    color: aliceblue;
    override-colors: red;
    padding: px;
    margin: auto;
}

#control {
    padding: 5px;
    border: 2px black solid;
}

#stats {
    border: 1px solid black;
    padding: 5px;
    color: black;
    border: black solid;
}

#monsterStats {
    display: none;
    border: 1px solid black;
    color: white;
    padding: 5px;
    background-color: red;

}

.stat {
    padding-right: 10px;
}